---
layout: default
title: Overriding default options
permalink: /examples/overriding-default-options/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Overriding default options</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>Assume that your page consists of many forms that need to be validated. These forms might use same options, such as icon, default error message, etc.</p>
                <p>As a natural approach, you have to repeat initializing the options as following:</p>

{% highlight javascript %}
$(document).ready(function() {
    $(firstForm).formValidation({
        message: 'The field is not valid',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
        ...
    });

    $(secondForm).formValidation({
        message: 'The field is not valid',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
        ...
    });
});
{% endhighlight %}

                <p>You can override the default options as below:</p>

{% highlight javascript %}
$(document).ready(function() {
    $.fn.formValidation.DEFAULT_OPTIONS = $.extend({}, $.fn.formValidation.DEFAULT_OPTIONS, {
        message: 'The field is not valid',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
    });
});
{% endhighlight %}

                <p>By overriding the default options, you don't need to repeat setting these options when calling the plugin:</p>

{% highlight javascript %}
$(document).ready(function() {
    $(firstForm).formValidation({
        // Don't need to set the icon, message options anymore
        ...
    });

    $(secondForm).formValidation({
        // Don't need to set the icon, message options anymore
        ...
    });
});
{% endhighlight %}

                {% include demo/tabs.html id="demo" frameworks="bootstrap" codes="programmatic" %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include ad.html %}
            </div>
        </div>
    </div>
</div>