---
layout: default
title: Validate an UUID
permalink: /validators/uuid/
prev:
    url: /validators/uri/
    title: uri validator
next:
    url: /validators/vat/
    title: vat validator
related:
    - regexp
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>uuid validator</h1>
        <p>Validate an <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a>, support v3, v4, v5</p>
        <p>&larr; <a href="/validators">Validators</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>HTML attribute</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>message</code></td>
                                    <td><code>data-fv-uuid-message</code></td>
                                    <td>String</td>
                                    <td>The error message</td>
                                </tr>
                                <tr>
                                    <td><code>version</code></td>
                                    <td><code>data-fv-uuid-version</code></td>
                                    <td>String</td>
                                    <td>The UUID version. Can be <code>3</code>, <code>4</code>, <code>5</code> or <code>all</code> <span class="label label-default">default</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-fv-uuid="true".
                    </div>

                    <div class="doc-alert doc-alert-info">
                        The message and other options can be updated on the fly via the <a href="/api/#update-message">updateMessage()</a> and <a href="/api/#update-option">updateOption()</a> methods
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}

                {% include pagination.html %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>