---
layout: default
title: Showing custom message returned from server
permalink: /examples/showing-custom-message-returned-from-server/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Showing custom message returned from server</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <p>As you know, each <a href="/validators/">validator</a> provides the <code>message</code> option to define the error message in case the field
                    doesn't pass the associated validator.</p>
                    <p>It's recommended to perform the validation on server side after the form passes the client side validation.
                        The usual question is that how to show the messages from the server if the field doesn't pass the validation on server side.</p>
                    <p>This example will show a handy approach which is described as following steps. To demonstrate the implementation,
                        the example uses a simple registration form that consists of three fields for filling the username, email address and password.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Step 1: Defining the validation rules</h2>

                    <p>In addition to <a href="/validators/">usual validators</a>, we also attach a special validator called <code>blank</code> to each field which
                        need to show the custom message returned from the server.</p>
                    <p>The blank validator doesn't have any option:</p>

{% highlight javascript %}
$('#signupForm').formValidation({
    fields: {
        username: {
            validators: {
                notEmpty: {
                    ...
                },
                stringLength: {
                    ...
                },
                regexp: {
                    ...
                },
                // The bank validator doesn't have any option
                blank: {}
            }
        },
        email: {
            validators: {
                notEmpty: {
                    ...
                },
                emailAddress: {
                    ...
                },
                blank: {}
            }
        },
        password: {
            validators: {
                notEmpty: {
                    ...
                },
                blank: {}
            }
        }
    }
});
{% endhighlight %}
                    <p>Since the blank validator always returns <code>true</code>, the field is supposed to pass it whenever the validation is performed in the client side.</p>
                    <p>We will see how we update the validation result later.</p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Step 2: Submitting the form data via Ajax</h2>

                    <p>When all fields satisfy the validation rules, we can trigger the <a href="/settings/#event-form">success.form.fv</a> event to send the form data to server via an Ajax request:</p>

{% highlight javascript %}
$('#signupForm')
    .formValidation({
        ...
    })
    .on('success.form.fv', function(e) {
        // Prevent default form submission
        e.preventDefault();

        var $form = $(e.target),                    // The form instance
            fv    = $form.data('formValidation');   // FormValidation instance

        // Send data to back-end
        $.ajax({
            url: '/path/to/your/back-end/',
            data: $form.serialize(),
            dataType: 'json'
        }).success(function(response) {
            // We will display the messages from server if they're available
        });
    });
{% endhighlight %}

                    <p>The error messages returned from server will be processed inside the <code>success</code> handler of the Ajax request.
                        We will see how to do that in the next step.</p>

                    <div class="doc-alert doc-alert-info">
                        Take a look at the <a href="/examples/ajax-submit/">Using Ajax to submit the form</a> for more details
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Step 3: Showing message returned from the server</h2>

                    <p>After getting the data sent from the client via the Ajax request, the server will perform validation using certain programming language.
                        Depend on the validation result, it might response an encoded JSON as
                    </p>

{% highlight javascript %}
// A sample response if all fields are valid
{
    "result": "ok"
}
{% endhighlight %}

                    <p>or</p>

{% highlight javascript %}
// A sample response if there's an invalid field.
// It also tell which and the reason why the field is not valid
{
    "result": "error",
    "fields": {
        "username": "The username is not available",
        "password": "You need to have more secure password"
        ...
    }
}
{% endhighlight %}

                    <p>Lastly, we can use the <a href="/api/#update-message">updateMessage()</a> and <a href="/api/#update-status">updateStatus()</a>
                        methods to set the message and validation result of the <code>blank</code> validator:</p>

{% highlight javascript %}
$.ajax({
    url: '',
    data: $form.serialize(),
    dataType: 'json'
}).success(function(response) {
    // If there is error returned from server
    if (response.result === 'error') {
        for (var field in response.fields) {
            fv
                // Show the custom message
                .updateMessage(field, 'blank', response.fields[field])
                // Set the field as invalid
                .updateStatus(field, 'INVALID', 'blank');
        }
    } else {
        // Do whatever you want here
        // such as showing a modal ...
    }
});
{% endhighlight %}

                    <p>Following is a working example that illustrates all steps above:</p>

                    <div class="doc-alert doc-alert-warning">
                        For demonstrating purpose, the form randomly displays a custom message for the username field no matter what you put in it
                    </div>

                    {% include demo/tabs.html id="basic" frameworks="bootstrap" codes="programmatic" %}
                </section>
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                <div id="toc" class="doc-toc"></div>

                {% include ad.html %}
            </div>
        </div>
    </div>
</div>