---
layout: default
title: Playing with Select2
permalink: /examples/select2/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Playing with Select2</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>Use with the <a href="http://ivaynberg.github.io/select2/">Select2</a> plugin.</p>
                <div class="doc-alert doc-alert-info">
                    You should look at the <a href="/examples#compatibility">basic principles</a> when integrating FormValidation with other plugins
                </div>
                <p>The <strong>Favorite color</strong> and the <strong>Favorite color using tags</strong> options requires to choose 2-4 colors you like most.</p>

                {% include demo/tabs.html id="basic" frameworks="bootstrap" codes="programmatic" %}
            </div>

            <div class="col-md-3">
                {% include ad.html %}
            </div>
        </div>
    </div>
</div>