<!doctype html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article#">
    {% include demo/head.html %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    {% bundle %}
    - /vendor/formvalidation/css/formValidation.min.css
    - /asset/css/demo.css
    {% endbundle %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>

    {% bundle %}
    - /vendor/formvalidation/js/formValidation.min.js
    - /vendor/formvalidation/js/framework/semantic.min.js
    - /asset/js/demo.js
    {% endbundle %}
</head>
<body class="demo-semantic">
    <div class="ui grid" id="demoContainer">
        <div class="sixteen wide column">
            {{ content }}
        </div>
    </div>
<script>
$(document).ready(function() {
    // Use checkbox element
    // http://semantic-ui.com/modules/checkbox.html
    $('.ui.checkbox').checkbox();
});
</script>
</body>
</html>