<section>
    <h2 id="field-settings">Field settings</h2>

    <p>Below is the list of Field settings:</p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Option</th>
                    <th>Equivalent HTML attribute</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>autoFocus</code></td>
                    <td><code>data-fv-autofocus</code></td>
                </tr>
                <tr>
                    <td><code>enabled</code></td>
                    <td><code>data-fv-enabled</code></td>
                </tr>
                 <tr>
                    <td><code>err</code></td>
                    <td><code>data-fv-err</code></td>
                </tr>
                <tr>
                    <td><code>excluded</code></td>
                    <td><code>data-fv-excluded</code></td>
                </tr>
                <tr>
                    <td><code>icon</code></td>
                    <td><code>data-fv-icon</code></td>
                </tr>
                <tr>
                    <td><code>message</code></td>
                    <td><code>data-fv-message</code></td>
                </tr>
                <tr>
                    <td><code>row</code></td>
                    <td><code>data-fv-row</code></td>
                </tr>
                <tr>
                    <td><code>selector</code></td>
                    <td><code>data-fv-selector</code></td>
                </tr>
                <tr>
                    <td><code>threshold</code></td>
                    <td><code>data-fv-threshold</code></td>
                </tr>
                <tr>
                    <td><code>trigger</code></td>
                    <td><code>data-fv-trigger</code></td>
                </tr>
                <tr>
                    <td><code>verbose</code></td>
                    <td><code>data-fv-verbose</code></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="doc-hr-short"></div>

    {% include_relative field/_autoFocus.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_enabled.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_err.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_excluded.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_icon.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_message.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_row.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_selector.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_threshold.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_trigger.html %}
    <div class="doc-hr-short"></div>

    {% include_relative field/_verbose.html %}
</section>