---
layout: default
title: Add-ons
permalink: /addons/
prev:
    url: /validators/
    title: Validators
next:
    url: /examples/
    title: Examples
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Add-ons</h1>
        <p>A collection of useful add-ons that do additional jobs</p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="doc-addon">
                            <div class="doc-addon-image"><a href="/addons/i18n/"><img class="img-responsive" src="/addons/i18n/cover.png" alt="FormValidation i18n icon add-on" /></a></div>

                            <div class="doc-addon-meta">
                                <h2><a href="/addons/i18n/">i18n</a></h2>
                                <p>Support defining messages in multiple languages</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="doc-addon">
                            <div class="doc-addon-image"><a href="/addons/mandatoryIcon/"><img class="img-responsive" src="/addons/mandatoryIcon/cover.png" alt="FormValidation mandatory icon add-on" /></a></div>

                            <div class="doc-addon-meta">
                                <h2><a href="/addons/mandatoryIcon/">mandatoryIcon</a></h2>
                                <p>Show required icons for mandatory fields</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="doc-addon">
                            <div class="doc-addon-image"><a href="/addons/recaptcha1/"><img class="img-responsive" src="/addons/recaptcha1/cover.png" alt="FormValidation reCaptcha1 add-on" /></a></div>

                            <div class="doc-addon-meta">
                                <h2><a href="/addons/recaptcha1/">reCaptcha1</a></h2>
                                <p>Add and validate Google reCAPTCHA v1 element</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="doc-addon">
                            <div class="doc-addon-image"><a href="/addons/recaptcha2/"><img class="img-responsive" src="/addons/recaptcha2/cover.png" alt="FormValidation reCaptcha2 add-on" /></a></div>

                            <div class="doc-addon-meta">
                                <h2><a href="/addons/recaptcha2/">reCaptcha2</a></h2>
                                <p>Add and validate Google reCAPTCHA v2 element</p>
                            </div>
                        </div>
                    </div>
                </div>

                {% include pagination.html %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>