---
layout: default
title: Validate an IP address
permalink: /validators/ip/
prev:
    url: /validators/integer/
    title: integer validator
next:
    url: /validators/isbn/
    title: isbn validator
related:
    - mac
    - uri
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>ip validator</h1>
        <p>Validate an IP address. Support both IPv4 and IPv6</p>
        <p>&larr; <a href="/validators">Validators</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>HTML attribute</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>ipv4</code></td>
                                    <td><code>data-fv-ip-ipv4</code></td>
                                    <td>Boolean</td>
                                    <td>Enable IPv4 validator, default to <code>true</code></td>
                                </tr>
                                <tr>
                                    <td><code>ipv6</code></td>
                                    <td><code>data-fv-ip-ipv6</code></td>
                                    <td>Boolean</td>
                                    <td>Enable IPv6 validator, default to <code>true</code></td>
                                </tr>
                                <tr>
                                    <td><code>message</code></td>
                                    <td><code>data-fv-ip-message</code></td>
                                    <td>String</td>
                                    <td>The error message</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-fv-ip="true".
                    </div>

                    <div class="doc-alert doc-alert-info">
                        The message and other options can be updated on the fly via the <a href="/api/#update-message">updateMessage()</a> and <a href="/api/#update-option">updateOption()</a> methods
                    </div>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}

                {% include pagination.html %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                <div id="toc" class="doc-toc"></div>

                {% include ad.html %}
            </div>
        </div>
    </div>
</div>