---
layout: default
title: reCaptcha1 add-on
permalink: /addons/recaptcha1/
image: /addons/recaptcha1/cover.png
file: "recaptcha1-v0.3.0.zip"
download: "https://github.com/formvalidation/addon-recaptcha/releases/download/v0.3.0/recaptcha1-v0.3.0.zip"
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>reCaptcha1 add-on</h1>
        <p>Add and validate Google reCAPTCHA v1</p>
        <p>&larr; <a href="/addons/">Add-ons</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>This add-on adds and validates Google reCAPTCHA v1 element.</p>

                <div class="doc-alert doc-alert-warning">
                    You should use the <a href="/addons/recaptcha2/">recaptcha2</a> add-on which supports Google reCAPTCHA v2
                </div>

                <p>Follow these steps to use this add-on:</p>

                <section>
                    <h2>Registering keys</h2>
                    <p>You need to register a site and secret keys at <a href="https://www.google.com/recaptcha/admin">https://www.google.com/recaptcha/admin</a></p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Including the add-on</h2>
                    <ul class="doc-list">
                        <li>Download <a href="{{ page.download }}" class="addonDownloadButton" data-placement="bottom" data-container="body">reCaptcha1</a> add-on</li>
                        <li>Include <code>reCaptcha1.min.js</code> (located in the <code>dist</code> directory) to your page. Ensure that it's placed after <code>formValidation(.min).js</code></li>
                    </ul>
{% highlight html %}
<!-- FormValidation plugin -->
<script src="/vendor/formvalidation/dist/js/formValidation.min.js"></script>

<!-- Add-ons. You should place it inside /vendor/formvalidation/dist/js/addons directory -->
<script src="/vendor/formvalidation/dist/js/addons/reCaptcha1.min.js"></script>

<!-- Including reCaptcha provided by Google -->
<script src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endhighlight %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Calling the add-on</h2>
                    <p>It's possible to call the add-on in both programmatic and declarative ways:</p>

                    <div class="doc-demo">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#programmatic-tab" data-toggle="tab">Programmatic code</a></li>
                            <li><a href="#declarative-tab" data-toggle="tab">Declarative code</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="programmatic-tab">
{% highlight javascript %}
$('#signUpForm').formValidation({
    framework: '...',
    icon: {
        ...
    },
    addOns: {
        reCaptcha1: {
            element: 'captchaContainer',
            theme: 'red',
            siteKey: '6LdgOwETAAAAALA9auuNVKFeXizXcYFrKOVC_vs-',
            url: '/path/to/server/verifier/',
            message: 'The captcha is not valid'
        }
    },
    fields: {
        ...
    }
});
{% endhighlight %}
                            </div>

                            <div class="tab-pane" id="declarative-tab">
                                <div class="doc-alert doc-alert-info">
                                    <p>If you want to use multiple add-ons, just simply separate them by a comma in data-fv-addons attribute:</p>
                                    <p>data-fv-addons="i18n, mandatoryIcon, recaptcha1"</p>
                                </div>

{% highlight html %}
<form id="signUpForm" method="post" class="form-horizontal"
    data-fv-addons="reCaptcha1"
    data-fv-addons-recaptcha1-element="captchaContainer"
    data-fv-addons-recaptcha1-theme="red"
    data-fv-addons-recaptcha1-sitekey="6LdgOwETAAAAALA9auuNVKFeXizXcYFrKOVC_vs-"
    data-fv-addons-recaptcha1-url="/path/to/server/verifier/"
    data-fv-addons-recaptcha1-message="The captcha is not valid">
    ...
</form>
{% endhighlight %}
                            </div>
                        </div>
                    </div>

                    <p>The reCaptcha1 add-on provides the following options:</p>

                    <p><sup>*</sup> &mdash; Required option</p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>HTML attribute</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>element</code><sup>*</sup></td>
                                    <td><code>data-fv-addons-recaptcha1-element</code></td>
                                    <td><code>String</code></td>
                                    <td>The ID of element showing the captcha</td>
                                </tr>
                                <tr>
                                    <td><code>message</code><sup>*</sup></td>
                                    <td><code>data-fv-addons-recaptcha1-message</code></td>
                                    <td><code>String</code></td>
                                    <td>The error message that will be shown in case the captcha is not valid. You don't need to define it if the back-end URL above returns the message</td>
                                </tr>
                                <tr>
                                    <td><code>siteKey</code><sup>*</sup></td>
                                    <td><code>data-fv-addons-recaptcha1-sitekey</code></td>
                                    <td><code>String</code></td>
                                    <td>The site key provided by Google</td>
                                </tr>
                                <tr>
                                    <td><code>theme</code></td>
                                    <td><code>data-fv-addons-recaptcha1-theme</code></td>
                                    <td><code>String</code></td>
                                    <td>
                                        <p>The <a href="https://developers.google.com/recaptcha/old/docs/customization">theme name</a> provided by Google. It can be one of</p>
                                        <ul class="doc-list">
                                            <li>red <span class="label label-default">default</span></li>
                                            <li>white</li>
                                            <li>blackglass</li>
                                            <li>clean</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><code>url</code><sup>*</sup></td>
                                    <td><code>data-fv-addons-recaptcha1-url</code></td>
                                    <td><code>String</code></td>
                                    <td>
                                        <p>The URL that verify the captcha. It takes <code>recaptcha_challenge_field</code> and <code>recaptcha_response_field</code> parameters and
                                            responses an encoded JSON string with valid and message keys:</p>

{% highlight javascript %}
{ "valid": true or false, "message": The error message }
{% endhighlight %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Verifying the captcha on server</h2>

                    <p>After clicking the Submit button, the add-on will send two parameters named <code>recaptcha_challenge_field</code> and <code>recaptcha_response_field</code> to server defined by the <code>url</code> option.</p>
                    <p>The server must response an encoded JSON string containing the <code>valid</code> (required) and <code>message</code> (optional) keys.</p>

                    <p>The following code snippet shows a basic usage of validating captcha with <a href="https://developers.google.com/recaptcha/old/docs/php">reCAPTCHA PHP library</a>:</p>

{% highlight php %}
<?php
// Register the public and private keys at https://www.google.com/recaptcha/admin
define('SITE_KEY',   '6LdgOwETAAAAALA9auuNVKFeXizXcYFrKOVC_vs-');
define('SECRET_KEY', '6LdgOwETAAAAAAHEd6l5XR5JOkBJDgUS4BPqxQrk');

// Download recaptcha lib for PHP from http://code.google.com/p/recaptcha/downloads/list
require_once('recaptchalib.php');

// Verify the captcha
// https://developers.google.com/recaptcha/docs/verify
$resp = recaptcha_check_answer(SECRET_KEY,
                                $_SERVER['REMOTE_ADDR'],
                                $_POST['recaptcha_challenge_field'],
                                $_POST['recaptcha_response_field']
                            );
echo json_encode(array(
    'valid'   => $resp->is_valid,
    'message' => $resp->is_valid ? null : 'Hey, the captcha is wrong!',       // $resp->error,
));
{% endhighlight %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <p>Below is the piece of code showing programmatic and declarative usages:</p>

                    <div class="doc-alert doc-alert-warning">
                        For testing purpose, the back-end used in the example always responses that the captcha is invalid
                    </div>

                    {% include demo/tabs.html id="demo" frameworks="bootstrap" codes="programmatic,declarative" %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Change log</h2>

                    <ul class="doc-list">
                        <li>v0.3.0: Add Grunt build and minified files</li>
                        <li>v0.1.0: First release</li>
                    </ul>
                </section>
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                <div class="doc-addon">
                    <div class="doc-addon-image"><img class="img-responsive" src="/addons/recaptcha1/cover.png" alt="FormValidation reCaptcha1 add-on" /></div>

                    <div class="doc-addon-meta">
                        <a href="{{ page.download }}" class="btn btn-success addonDownloadButton" data-placement="bottom" data-container="body"><i class="fa fa-download"></i> {{ page.file }}</a>
                    </div>
                </div>

                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    var RECAPTCHA1_NAME = 'recaptcha1';
    $.ajax({
        dataType: 'jsonp',
        url: 'https://api.github.com/repos/formvalidation/addon-recaptcha/releases',
        success: function(response) {
            var total = 0;
            if (response.data) {
                for (var i in response.data) {
                    for (var j in response.data[i].assets) {
                        if (response.data[i].assets[j].name.substr(0, RECAPTCHA1_NAME.length) === RECAPTCHA1_NAME) {
                            total += (response.data[i].assets[j].download_count || 0);
                        }
                    }
                }
            }
            $('.addonDownloadButton').attr('data-title', total + (total <= 1 ? ' download' : ' downloads')).tooltip();
        }
    })
});
</script>