---
layout: default
title: Playing with Raty
permalink: /examples/raty/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Playing with Raty</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Use with the <a href="http://wbotelhos.com/raty">Raty</a> plugin.</p>
                <div class="doc-alert doc-alert-info">
                    You should look at the <a href="/examples#compatibility">basic principles</a> when integrating FormValidation with other plugins
                </div>

                {% include demo/tabs.html id="basic" frameworks="bootstrap" codes="programmatic" %}
            </div>
        </div>
    </div>
</div>