---
layout: default
title: Playing with Mask
permalink: /examples/mask/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Playing with Mask</h1>
        <p>&larr; <a href="/examples">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>Use with the <a href="http://igorescobar.github.io/jQuery-Mask-Plugin/">Mask</a> plugin.</p>

                {% include demo/tabs.html id="basic" frameworks="bootstrap" codes="programmatic" %}
            </div>
        </div>
    </div>
</div>