---
layout: default
title: Using Balloon CSS library to show message
permalink: /examples/using-balloon-css-library-show-message/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Using Balloon CSS library to show message</h1>
        <p>&larr; <a href="/examples">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>In this example, you will see how to use the <a href="https://kazzkiq.github.io/balloon.css/">Balloon CSS</a> library to display the messages.</p>

                <div class="doc-alert doc-alert-info">
                    <p>Balloon CSS is a popular library for creating a tooltip with just pure CSS. It's an open source library
                        and available on <a href="https://github.com/kazzkiq/balloon.css">Github</a>.</p>
                    <p>To see how we implement this example behind the scenes, please look at the <a href="/examples/using-hint-library-show-message/">Using hint library</a> example.</p>
                </div>

                {% include demo/tabs.html id="demo" frameworks="bootstrap" codes="programmatic" %}

                <div class="doc-hr"></div>

                <section>
                    <h2>Related examples</h2>

                    <ul class="doc-list">
                        <li><a href="/examples/using-hint-library-show-message/">Using hint library to show message</a></li>
                        <li><a href="/examples/using-tooltip-to-show-message/">Using tooltip to show message</a></li>
                    </ul>
                </section>
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>