---
layout: default
title: Playing with selectize
permalink: /examples/selectize/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Playing with selectize</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p>This example shows how to use FormValidation with the <a href="http://brianreavis.github.io/selectize.js/">selectize</a> plugin.</p>
                <div class="doc-alert doc-alert-info">
                    You should look at the <a href="/examples#compatibility">basic principles</a> when integrating FormValidation with other plugins
                </div>

                <p>The form asks you to put 2-4 favorite Javascript frameworks.</p>

                {% include demo/tabs.html id="basic" frameworks="bootstrap" codes="programmatic" %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include ad.html %}
            </div>
        </div>
    </div>
</div>