---
layout: default
title: Validate a MEID (mobile equipment identifier)
permalink: /validators/meid/
prev:
    url: /validators/mac/
    title: mac validator
next:
    url: /validators/notEmpty/
    title: notEmpty validator
examples: A00000049259B16, A0-000004-9259B1-6, A0 000004 9259B1 6, 2936087365007037100, 29360-87365-0070-3710-0, 29360 87365 0070 3710 0, AF0123450ABCDE, AF-012345-0ABCDE, AF 012345 0ABCDE, 293608736500703710, 29360-87365-0070-3710, 29360 87365 0070 3710, A00000049259B15, A00000049259B, 2936087365007037101, 29360873650070371
related:
    - imei
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>meid validator</h1>
        <p>Validate a MEID (mobile equipment identifier)</p>
        <p>&larr; <a href="/validators">Validators</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>HTML attribute</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>message</code></td>
                                    <td><code>data-fv-meid-message</code></td>
                                    <td>String</td>
                                    <td>The error message</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-fv-meid="true".
                    </div>

                    <div class="doc-alert doc-alert-info">
                        The message option can be updated on the fly via the <a href="/api/#update-message">updateMessage()</a> method
                    </div>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Example</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>MEID</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% assign examples = page.examples | split: ', ' %}
                                {% for meid in examples %}
                                <tr>
                                    <td><a href="javascript: void(0);" class="sample">{{ meid }}</a></td>
                                    <td><i class="fa"></i></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include demo/tabs.html id="basic" frameworks="bootstrap" dir="basic" codes="programmatic,declarative" %}
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}

                {% include pagination.html %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('.sample').on('click', function() {
        var formWindow = $('#basic-frame').get(0).contentWindow,
            isValid    = formWindow.revalidateMeid($(this).html());

        $(this)
            .parents('tr').find('i')
            .removeClass('fa-check fa-times')
            .addClass(isValid ? 'fa-check' : 'fa-times');
    });
});
</script>