---
layout: default
title: Using multiple elements with the same name
permalink: /examples/multiple/
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Using multiple elements with the same name</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>It's possible to validate multiple fields with the same name. The fields can be radio buttons, checkboxes or text boxes, etc.</p>

                {% include demo/tabs.html id="demo" frameworks="bootstrap" codes="programmatic" %}
            </div>
        </div>
    </div>
</div>