---
layout: default
title: notEmpty validator
permalink: /validators/notEmpty/
prev:
    url: /validators/meid/
    title: meid validator
next:
    url: /validators/numeric/
    title: numeric validator
related:
    - stringLength
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>notEmpty validator</h1>
        <p>Return true if the value contains only digits</p>
        <p>&larr; <a href="/validators">Validators</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Options</h2>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Option</th>
                                    <th>HTML attribute</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><code>message</code></td>
                                    <td><code>data-fv-notempty-message</code></td>
                                    <td>String</td>
                                    <td>The error message</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="doc-alert doc-alert-info">
                        When setting options via HTML attributes, remember to enable the validator by setting data-fv-notempty="true".<br/>
                        You don't need to do that when using HTML 5 required attribute.
                    </div>

                    <div class="doc-alert doc-alert-info">
                        The message option can be updated on the fly via the <a href="/api/#update-message">updateMessage()</a> method
                    </div>

                    <p>If you want the field to be required based on particular field or conditions, look at the <a href="/examples/conditional-validation/">Conditional validation</a> example.</p>

                    <h3>Using with select element</h3>
                    <p>If you want a select element to be required, you have to set <code>value=""</code> for the option which is treated as empty one:</p>

{% highlight html %}
<select name="gender">
    <option value="">Select the gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
</select>
{% endhighlight %}

                    <h3>Using with WYSIWYG editor</h3>
                    <p>Most of <a href="http://en.wikipedia.org/wiki/WYSIWYG">WYSIWYG</a> (What You See Is What You Get) editors generate some HTML tags for an empty string. So, basically, you can't use notEmpty validator to validate a text area which uses a WYSIWYG editor.</p>
                    <p>Instead, use the <a href="/validators/callback">callback</a> validator to get the raw HTML string, and check if it's the default value generated by the editor, then it's empty field.</p>
                    <p>Looking at some examples below will give you the idea:</p>
                    <ul class="doc-list">
                        <li><a href="/examples/summernote/">Playing</a> with <a href="http://hackerwins.github.io/summernote/">Summernote</a></li>
                        <li><a href="/examples/tinymce/">Playing</a> with <a href="http://tinymce.com">TinyMCE</a></li>
                        <li><a href="/examples/ckeditor/">Playing</a> with <a href="http://ckeditor.com">CKEditor</a></li>
                    </ul>

                    <h3>Showing mandatory icon</h3>
                    <p>Showing mandatory icon for required field gives better user experience. You can do it with</p>
                    <ul class="doc-list">
                        <li><a href="/examples/showing-required-icon/">Showing required icon for the mandatory fields</a> example</li>
                        <li>or the <a href="/addons/mandatoryIcon/">mandatoryIcon</a> add-on</li>
                    </ul>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Examples</h2>

                    <h3>Basic example</h3>
                    <p>In the following form, user is asked to enter the full name.</p>

                    {% include demo/tabs.html id="basic" frameworks="bootstrap" dir="basic" codes="programmatic,declarative" %}

                    <h3>HTML 5 example</h3>
                    <p>Below is an example of using HTML 5 <code>required</code> attribute to enable the notEmpty validator.</p>

                    {% include demo/tabs.html id="html5" frameworks="bootstrap" dir="html5" codes="declarative" %}

                    <ul class="doc-list">
                        <li><a href="/examples/requiring-at-least-one-field/">Requiring at least one field</a></li>
                        <li><a href="/examples/terms-conditions-agreement-validation/#showing-terms-and-conditions-in-the-same-form">Terms and conditions agreement validation</a></li>
                    </ul>
                </section>

                <div class="doc-hr"></div>

                {% include related.html %}

                {% include pagination.html %}
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>