---
layout: default
title: Download
permalink: /download/
image: /download/cover.png
next:
    url: /getting-started/
    title: Getting started
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Download</h1>
        <p>Please choose the right package to purchase</p>

        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <section>
                    <h2>Give it a try</h2>
                    <p>Below is basic working examples of FormValidation using with <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://foundation.zurb.com/">Foundation</a>, <a href="http://purecss.io/">Pure</a>, <a href="http://semantic-ui.com/">Semantic UI</a> and <a href="http://getuikit.com/">UIKit</a> frameworks.</p>

                    <div class="doc-alert doc-alert-info">
                        FormValidation is designed to work with almost frameworks. This <a href="/examples/#supporting-other-frameworks-and-form-builders">section</a> demonstrates the ability of using it with
                        other frameworks (<a href="http://getskeleton.com/">Skeleton</a>, <a href="https://picturepan2.github.io/spectre/">Spectre</a>, etc.) and form builders
                        (<a href="http://www.jotform.com/">JotForm</a>, etc.)
                    </div>

                    <div class="doc-alert doc-alert-info">
                        The latest stable version of FormValidation supports <a href="http://getbootstrap.com/">Bootstrap 3</a> (v3.3.7), <a href="http://v4-alpha.getbootstrap.com/">Bootstrap 4</a> (v4.0.0-alpha.3), Foundation 5 (v5.5.3),
                        <a href="http://foundation.zurb.com/">Foundation 6</a> (v6.2.3), <a href="http://purecss.io/">Pure</a> (v0.6.0), <a href="http://semantic-ui.com/">Semantic UI</a> (v2.2.2), and <a href="http://getuikit.com/">UIKit</a> (v2.26.4)
                    </div>

                    {% include demo/tabs.html id="demo" frameworks="bootstrap,bootstrap4,foundation5,foundation,pure,semantic,uikit" dir="tryit" codes="programmatic,declarative" %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Download</h2>
                    <p class="text-center">The latest version, <a href="{{ site.change_log }}">v{{ site.current_version }}</a>, is released on {{ site.released_date }}.</p>

                    <div class="doc-alert doc-alert-info">
                        Please take a look at the <a href="/news/upgrading-to-v0-8-0/">Upgrading guide</a> if you want to upgrade from v0.7.1 to v0.8.x
                    </div>

                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="doc-plan">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <p>Developer commercial license</p>
                                        <h3>{{ site.license.developer.price }}</h3>
                                    </div>

                                    <div class="list-group">
                                        <div class="list-group-item">For individual developers</div>
                                        <div class="list-group-item">Each individual developer needs to purchase a separate license</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Free lifetime upgrade</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Use in multiple websites</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Full source code</div>
                                        <div class="list-group-item">
                                            <p><strong>Buy with Paypal</strong></p>
                                            <a href="{{ site.license.developer.sellfy_url }}" id="{{ site.license.developer.sellfy_id }}" class="doc-sellfy-button" title="Buy FormValidation developer commercial license with Paypal"><span>{{ site.license.developer.price }}</span></a>
                                        </div>
                                        <div class="list-group-item">
                                            <p><strong>Buy with Credit Card</strong></p>
                                            <p><a href="{{ site.license.developer.gumroad_url }}" class="doc-gumroad-button" title="Buy FormValidation developer commercial license with Credit Card"><span></span>Buy now {{ site.license.developer.price }} <sup>*</sup></a></p>
                                            <p><small>* If you live in a EU country, VAT is charged</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="doc-plan">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <p>Organization commercial license</p>
                                        <h3>{{ site.license.organization.price }}</h3>
                                    </div>

                                    <div class="list-group">
                                        <div class="list-group-item">For an organization with a team of developers</div>
                                        <div class="list-group-item">Covers all developers working within the organization</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Free lifetime upgrade</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Use in multiple websites</div>
                                        <div class="list-group-item"><i class="fa fa-check"></i> Full source code</div>
                                        <div class="list-group-item">
                                            <p><strong>Buy with Paypal</strong></p>
                                            <a href="{{ site.license.organization.sellfy_url }}" id="{{ site.license.organization.sellfy_id }}" class="doc-sellfy-button" title="Buy FormValidation organization commercial license with Paypal"><span>{{ site.license.organization.price }}</span></a>
                                        </div>
                                        <div class="list-group-item">
                                            <p><strong>Buy with Credit Card</strong></p>
                                            <p><a href="{{ site.license.organization.gumroad_url }}" class="doc-gumroad-button" title="Buy FormValidation organization commercial license with Credit Card"><span></span>Buy now {{ site.license.organization.price }} <sup>*</sup></a></p>
                                            <p><small>* If you live in a EU country, VAT is charged</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="text-center">
                        All transactions are processed on <a href="https://sellfy.com/nghuuphuoc/">Sellfy</a> and <a href="https://gumroad.com/formvalidation/">GumRoad</a> through an <strong>encrypted HTTP Secure</strong> connection
                    </p>
                </section>

                <div class="doc-hr"></div>

                <section>
                    <div class="row doc-download-quote">
                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/780197220968697856/Yj20dyDJ_bigger.jpg" /></p>
                            <blockquote><a href="https://twitter.com/formvalidation">@formvalidation</a> Money well spent. A must have plug-in if you use <a href="https://twitter.com/hashtag/Bootstrap?src=hash">#Bootstrap</a> regularly.</blockquote>
                            <span>&mdash; <a href="https://twitter.com/Agarney/status/571032221613723648">@Agarney</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/734234659362463744/-xewhPOG_bigger.jpg" /></p>
                            <blockquote>Just grabbed <a href="https://gum.co/formvalidation-developer-license">FormValidation license</a>. It's perfect for <a href="https://twitter.com/hashtag/bootstrap?src=hash">#bootstrap</a> projects. Very worth.</blockquote>
                            <span>&mdash; <a href="https://twitter.com/timkinnane/status/558902520659996673">@timkinnane</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/547394743068422144/NMwHGbkO_bigger.jpeg" /></p>
                            <blockquote>Buy a license for <a href="https://twitter.com/formvalidation">@formvalidation</a>. It's best tool I ever used.</blockquote>
                            <span>&mdash; <a href="https://twitter.com/RC_Programmers/status/554697623840784384">@RC_Programmers</a></span>
                        </div>
                    </div>

                    <div class="row doc-download-quote">
                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/553991981399949312/BGy4FiMJ_bigger.jpeg" /></p>
                            <blockquote>Just bought a copy of <a href="http://formvalidation.io">formvalidation.io</a> - looks extremely well built and is designed to work with bootstrap!</blockquote>
                            <span>&mdash; <a href="https://twitter.com/sitesbyjoe/status/561240246591823873">@sitesbyjoe</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/670305627797745664/amOJcGc8_bigger.png" /></p>
                            <blockquote>Awesome jQuery plugin for form validation <a href="http://formvalidation.io/">http://formvalidation.io</a> <a href="https://twitter.com/formvalidation">@formvalidation</a> <a href="https://twitter.com/hashtag/jquery?src=hash">#jquery</a> <a href="https://twitter.com/hashtag/FormValidation?src=hash">#FormValidation</a></blockquote>
                            <span>&mdash; <a href="https://twitter.com/barrylangdon1/status/569252257771995137">@barrylangdon1</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/770236052716093440/7zjQlHhG_bigger.jpg" /></p>
                            <blockquote>Wow , Its Very Awesome for Form Validation I Recommend use it <3 <a href="https://twitter.com/formvalidation">@formvalidation</a></blockquote>
                            <span>&mdash; <a href="https://twitter.com/Mahdixco/status/617338204337737728">@Mahdixco</a></span>
                        </div>
                    </div>

                    <div class="row doc-download-quote">
                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/1936488726/logo_bigger.png" /></p>
                            <blockquote>Just had a fantastic development experience with <a href="https://twitter.com/formvalidation">@formvalidation</a> using <a href="https://twitter.com/twbootstrap">@twbootstrap</a> and <a href="https://twitter.com/jquery">@jquery</a>. You're a champion!</blockquote>
                            <span>&mdash; <a href="https://twitter.com/imagineteamsol/status/558256091268530178">@imagineteamsol</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/1211737830/victorian_jon_bigger.jpg" /></p>
                            <blockquote>Fantastic support from <a href="https://twitter.com/formvalidation">@formvalidation</a>. Several emails back and forth and completely sorted within a couple of hours. <a href="https://twitter.com/hashtag/worthpraising?src=hash">#worthpraising</a></blockquote>
                            <span>&mdash; <a href="https://twitter.com/JonStanton/status/552873039025946625">@JonStanton</a></span>
                        </div>

                        <div class="col-sm-4">
                            <p><img src="https://pbs.twimg.com/profile_images/326014761/3sn_bigger.jpg" /></p>
                            <blockquote><a href="https://twitter.com/formvalidation">@formvalidation</a> AMAZING solution and very declarative source code. This is TOP support! Keep on doing the good work. I became a fan!</blockquote>
                            <span>&mdash; <a href="https://twitter.com/johnnydriesen/status/570582809871556608">@johnnydriesen</a></span>
                        </div>
                    </div>
                </section>

                {% include pagination.html %}
            </div>
        </div>
    </div>
</div>