---
layout: default
title: Playing with Fuel UX Wizard
permalink: /examples/fuel-ux-wizard/
image: /examples/fuel-ux-wizard/cover.png
---

<div class="doc-content-container">
    <div class="doc-heading">
        <h1>Playing with Fuel UX Wizard</h1>
        <p>&larr; <a href="/examples/">Examples</a></p>
        {% include share.html %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section>
                    <h2>Basic usage</h2>

                    <p>The following example demonstrates how to use FormValidation to validate panels structured by <a href="http://getfuelux.com/javascript.html#wizard">Fuel UX Wizard</a>.</p>
                    <p>We need to trigger the <code>actionclicked.fu.wizard</code> and <code>finished.fu.wizard</code> <a href="http://getfuelux.com/javascript.html#wizard-usage-events">events</a> to validate the selected panel.</p>

                    <div class="doc-alert doc-alert-info">
                        You should look at the <a href="/examples#wizard">wizard</a> section when integrating FormValidation with wizard-like components
                    </div>

                    <p>If you want to use more <a href="http://getfuelux.com/javascript.html">Fuel UX controls</a>, look at this <a href="/examples/fuel-ux/">example</a>.</p>

                    {% include demo/tabs.html id="demo" frameworks="bootstrap" codes="programmatic" %}
                </section>

                <div class="doc-hr"></div>

                <section>
                    <h2>Not validating current step when going to previous one</h2>

                    <p>If you don't want the current step to be validated when clicking the <strong>Prev</strong> button to jump to the previous step,
                        you can add a simple check in <code>actionclicked.fu.wizard</code> event handler:</p>

{% highlight javascript %}
$('#orderWizard')
    .wizard()

    // Triggered when clicking the Next/Prev buttons
    .on('actionclicked.fu.wizard', function(e, data) {
        if (data.direction === 'previous') {
            // Do nothing if you're going to the previous step
            return;
        }

        ...
    })
    .on('finished.fu.wizard', function(e) {
        ...
    });
{% endhighlight %}
                </section>
            </div>

            <div class="col-md-3 hidden-print hidden-xs hidden-sm">
                {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>